@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --header-font: "Lilita One",sans-serif;
}

h1,h2{
  font-family: var(--header-font);
}

#form-container{
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.form{
 
  gap: 20px;
    display: flex;
    flex-direction: column;
}

.btn{
  background-color: black;
  color: aliceblue;
}